@mixin hideText {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin lg {
    @media (max-width: 1200px){
        @content;
    }
}

@mixin md {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin btn{
    width: 25%;
    height: 50px;
    text-align: center;
    font-size: $largeSize;
    font-family: 'microsoft jhenghei';
    background-color: $theme-color-dark;
    color: $theme-color-light;
    border-radius: 2%;
    border: 2px solid $theme-color-light;
    cursor: none;
    transition: 0.5s ease all;
    &:hover, &.active{
        background-color: $theme-color-light;
        color: $theme-color-dark;
        // border: 2px solid $theme-color-dark;
        // box-shadow: 0px 0px 5px $theme-color-light;
    }
    &.active:hover{
        box-shadow: 0px 0px 5px 2px $theme-color-light;
    }
}

@mixin flex($j:center, $a:center){
    display: flex;
    justify-content: $j;
    align-items: $a;
}